
*{  /* aplica para a página inteira*/
    background-color: #181F42;
}

.campo { /* aplica para o campo de preenchimento*/
    width: 250px;
    padding-top: 10px;
    padding-left: 20px;
    padding-bottom: 10px;
    padding-right: 20px;
    border: solid 1px #ccc;
    border-radius: 2px;
    font-family: Arial;
    margin-top: 3px;

}

.titulo{ 
    font-family: Quattrocento;
    font-size: 45px;
    text-align: center;
    color: #ccc;
}

.fonte{ 
    font-family: Quattrocento;
    font-size: 16px;
    text-align: center;
    color: #ccc;
    margin-top: 15px;
    margin-bottom: 0px;
}

.externa{ /* div externa*/
    margin: 0 auto;  
}


.interna{ /* div interna*/
    margin: 200px auto;
    width: 250px;
}



.botao {
    background-color: #AA313B;
    width: 250px;
    height: 40px;
    margin-top: 15px;
    margin-bottom: 0px;
    color: white;
    border: solid 1px #AA313B;
    cursor: pointer;
    border-radius: 2px;
}

.botao:hover{
    background-color: #9c2e37;

}
